[submodule "Middlewares/Third_Party/etl"]
	path = Middlewares/Third_Party/etl
	url = https://github.com/aufam/etl.git
	branch = FreeRTOS
[submodule "Middlewares/Third_Party/delameta"]
	path = Middlewares/Third_Party/delameta
	url = https://github.com/aufam/delameta/
[submodule "Middlewares/Third_Party/boost_preprocessor"]
	path = Middlewares/Third_Party/boost_preprocessor
	url = https://github.com/boostorg/preprocessor
[submodule "Middlewares/Third_Party/fmt"]
	path = Middlewares/Third_Party/fmt
	url = https://github.com/fmtlib/fmt.git
